.title__container-confetti {
  position: relative;
  height: 100vh;
  font-size: 1rem;
  z-index: 500;
}
.party__title {
  padding-top: 8%;
  line-height: 1.5em;
  font-size: 2rem;
  z-index: 100;
}

.party {
  z-index: 100;
  font-size: 1rem;
}

.bottom {
  position: absolute;
  font-size: 2rem !important;
  left: 30px;
  bottom: 780px;
  /* margin-bottom: 10px; */
  cursor: pointer;
}

#party-info {
  position: absolute;
  background: rgb(250, 250, 250);
  box-shadow: 20px 20px 30px rgba(92, 92, 88, 0.6);
  padding: 20px;
  margin: 0 auto;
  height: 60%;
  left: 10%;
  right: 0;
  text-align: center;
  bottom: 15%;
  width: 40%;
  z-index: 2;
  color: dimgray;
  border-radius: 10px;
}

.confettie-wrap {
  padding: 0px;
  position: relative;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 1200px){
 .party__title {
   font-size: 1.5rem;
 }
 .party {
  z-index: 100;
  font-size: 1rem;
}
#party-info{
  padding:0;
  bottom: 10%;
  height: 600px;
  width: 75vw;
}
}

@media screen and (max-width: 479px) {
.confettie-wrap{
margin:0;
width: 100%;
  }
 .party__title {
   font-size: 1.5rem;
 }
 .party {
  z-index: 100;
  font-size: 1rem;
}

}
